<div class="auth-container">
  <p-toast position="top-right"></p-toast>
  <p-card header="Forgot Password" [style]="{ width: '30rem', fontWeight: 'bold' }"><br>
    <div class="p-fluid">

      <!-- Step 1: Enter email for OTP -->
      @if (currentStep === 'otpEmail') {
        <form [formGroup]="otpEmailForm" (ngSubmit)="requestOtp()">
          <p-floatLabel variant="in">
            <input pInputText id="otpEmail" formControlName="email" />
            <label for="otpEmail">Email</label>
          </p-floatLabel><br>
          <button class="blue-btn" pButton type="submit" label="Send OTP"></button>
        </form>
      }

      <!-- Step 2: OTP entry -->
      @if (currentStep === 'otpEntry') {
        <p-inputOtp [(ngModel)]="otpValue" [length]="otpLength" (onChange)="onOtpChange($event)"></p-inputOtp><br>
        <button class="blue-btn" pButton type="button" label="Submit OTP" (click)="submitOtp()"></button>
      }

      <!-- Step 3: Reset password -->
      @if (currentStep === 'resetPassword') {
        <form [formGroup]="otpResetForm" (ngSubmit)="verifyAndReset()">
          <p-floatLabel variant="in">
            <p-password inputId="newPassword" [toggleMask]="true" formControlName="newPassword"></p-password>
            <label for="newPassword">New password</label>
          </p-floatLabel><br>
          <p-floatLabel variant="in">
            <p-password inputId="confirmPassword" [toggleMask]="true" [feedback]="false" formControlName="confirmPassword"></p-password>
            <label for="confirmPassword">Confirm new password</label>
          </p-floatLabel><br>
          <button class="blue-btn" pButton type="submit" label="Reset"></button>
        </form>
      }

      @if (errorMessage) {
        <p class="error">{{ errorMessage }}</p>
      }
    </div>
  </p-card>
</div>
