/* styles.scss */
//@import "primeng/resources/themes/aura-light-blue/theme.css";
//@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
/* --- TransLink Color Palette --- */
:root {
  overscroll-behavior: none;
     --font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

     font-family: var(--font-family); /* Recommended modern font */
 
}

/* Global Resets */
* {
  margin: 0;
  padding: 0;
}

