<p-toast></p-toast>

<div class="auth-container">
  <p-card header="Login" [style]="{ width: '28rem' }">
    <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()" class="p-fluid flex flex-col gap-4">
     
      <!-- <div class="field-container">
        <p-floatLabel variant="in">
          <input pInputText id="username" formControlName="username" autocomplete="off"
                 [invalid]="isInvalid('username')" />
          <label for="username">Username</label>
        </p-floatLabel>
        @if (isInvalid('username')) {
          <p-message severity="error" size="small" variant="simple">Username is required.</p-message>
        }
      </div> -->
 
      <div class="field-container">
        <p-floatLabel variant="in">
          <input pInputText id="email" formControlName="email" autocomplete="off"
                 [invalid]="isInvalid('email')" />
          <label for="email">Email Address</label>
        </p-floatLabel>
        @if (isInvalid('email')) {
          <p-message severity="error" size="small" variant="simple">
            {{ exampleForm.get('email')?.errors?.['required'] ? 'Email is required.' : 'Invalid email format.' }}
          </p-message>
        }
      </div>
 <br>
      <div class="field-container">
        <p-floatLabel variant="in">
          <p-password formControlName="password" [toggleMask]="true" [feedback]="false"
                      [invalid]="isInvalid('password')" />
          <label for="password">Password</label>
        </p-floatLabel>
        @if (isInvalid('password')) {
          <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
        }
      </div>

      <!-- Forgot Password link --> 
      <a routerLink="/forgot-password" class="text-blue-600 hover:underline"> Forgot Password? </a>
 
      <button pButton type="submit" label="Login" class="p-mt-2"></button>
      
 
      <div class="text-center p-mt-2">
        <span class="text-sm">Don't have an account? </span>
        <a routerLink="/signup" class="signup-link">Sign Up</a>
      </div>
    </form>
  </p-card>
</div>